/* ui kits */
.badge-square-info.lg {
    width: auto;
    height: auto;
}

.badge-square-info{
    border-radius: 0%;
    background: #2A74E3;
}

.border-title {
    margin-top: 10px;
    width: 64px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.15);
}

.border-border {
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.section-menu{
    padding: 20px;
}

.border-table-title{
    width: 76px;
    margin-top: 10px;
    border: 3px solid #DEBD13;
}

.text-blue{
    color: #0754C8;
}

.section-name{
    padding: 15px;
    border: 1px solid;
    border-color: #dadada;
}

/* Custom header theme */
.top-header{
    left: 0%;
    right: 0%;
    background: #001B42;
    position: fixed;

}

.top-text-group{
    margin-left: 10px;
}

.top-text-group p{
    left: 3.26%;
    right: 66.6%;
    top: 2.65%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.layout-sidebar-large .main-header {
    background: #02275D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.layout-sidebar-large .main-header .logo {
    width: 200px;
    margin-left: 30px;
}

.layout-sidebar-large .main-header .logo img {
    width: 100%;
    height: 100%;
}

.text-user{
    margin-top: 20px;
    padding: 10px;
}
.text-user p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* theme footer */
.app-footer {
    margin-top: 0rem !important;
    background: #02275D;
    padding: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.app-footer p{
    margin-top: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    /* or 200% */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

/* card side */
.card-side{
    position: fixed;
}

.card-body .card-sidebar{
    position: absolute;
}

.card-body{
    width: 100%;
}

.card-body-listdupak{
    width: 100%;
    padding: 40px 40px 25px 40px;
}

.card-sidebar{
    width: 100%;

}

.text-21{
    color: #2A74E3;
    font-weight: 650;
}

.text-22{
    color: #54B309;
}

.item-menu-sidebar{
    padding: 9.5px;
    height: 41px;
}

.text-menu-sidebar{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.680);
}

.menu-active{
    background: #0754C8;
    border-radius: 5px;
}

.menu-active .text-menu-sidebar{
    color: #fff;
}

.menu-active .text-21{
    color: #fff;
}
.menu-active .text-menu-sidebar{
    color: #fff;
}

/* table */
.table-group{
    margin-top: 10px;
}

.upload-group{
    margin-top: 15px;
}

.form-entry{
    margin-top: 35px;
}

.auth-content-dupak{
    max-width: 557px;
    max-height: 414px;
    min-width: 557px;
    min-height: 414px;
}

.auth-layout-wrap{
    background-color: #E5E5E5;
}

#auth-content-dupak {
    background-color: #02275D;
    width: 557px;
    height: 85px;
}

#auth-style-logo-dupak{
    width: 250px;
    height: 69px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#auth-title-dupak{
    padding-top: 10px;
}

.auth-field-dupak{
    width: 270px;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 15px;
    border:none;
    border-bottom: 2px solid rgb(163, 163, 163);
    border-radius: 0;
}

#auth-btn-dupak-p{
    padding-top: 10px;
}

#auth-btn-dupak{
    background-color: #02275D;
    border-radius: 0;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 2px;
}

#auth-btn-psw {
    text-decoration: none;
    color: #02275D;
    font-weight: bold;
}

select.form-control {
    -webkit-appearance: radio;
}
/* select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 2.25rem !important;
}

.font-color-ttl-dupak{
    color: #0754C8;
}

.width-50{
    width: 50%;
}

.btn-edit-profile{
    width:250px;
    height:40px;
}

.custom-file-upload {
    display: inline-block;
    padding: 5px;
}

/* new theme upload */
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: 0.2s;
}

.file-drop-area .is-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
    flex-shrink: 0;
    background-color: rgba(26, 25, 25, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
    outline: none;
}

.page-item.active .page-link {
    background-color: #0754C8;
    border-color: #0754C8;
}

.icon-color-red{
    color:red;
}

.icon-color-green{
    color:green;
}

.mark-dgr{
    color:#e62e00;
}

.btn-unavailable{
    background-color: #a6a6a6;
}

.text-white{
    color:white;
}

.card-header {
    background-color: rgb(233, 233, 233);
}

.header-elements-inline {
    display: block;
}

.form-control:focus {
    box-shadow: none;
}

